---
import * as classes from "./styles.css";

interface Props {
  buttonId: string;
  "aria-pressed": string;
  "aria-controls": string;
  class?: string;
}
const { buttonId, class: className, ...rest } = Astro.props;
---

<button
  id={buttonId}
  {...rest as any}
  class={`${classes.root}${className ?? ""}`}
  ><slot />
</button>

<pre>{JSON.stringify(Astro.props, null, 2)}</pre>
<script is:inline>
  const toggleButton = document.getElementById(Astro.props.buttonId);
  const container = document.getElementById(Astro.props["aria-controls"]);
  const initiallyVisible = Boolean(Astro.props["aria-pressed"]);
  if (initiallyVisible) {
    container.removeAttribute("hidden");
  }
  toggleButton.addEventListener("click", () => {
    container.hasAttribute("hidden")
      ? container.removeAttribute("hidden")
      : container.setAttribute("hidden", "");
    toggleButton.getAttribute("aria-pressed") === "true"
      ? toggleButton.setAttribute("aria-pressed", "false")
      : toggleButton.setAttribute("aria-pressed", "true");
  });
</script>
