---
import * as classes from "./styles.css";

interface Props {
  id: string;
  "aria-pressed": string;
  "aria-controls": string;
  class?: string;
}
const { class: className, ...rest } = Astro.props;
---

<button
  id={Astro.props.id}
  {...rest as any}
  class={`${classes.root} ${className ?? ""}`}
  ><slot />
</button>

<script
  define:vars={{
    id: Astro.props.id,
    containerId: Astro.props["aria-controls"],
    initiallyVisible: Boolean(Astro.props["aria-pressed"]),
  }}
>
  const toggleButton = document.getElementById(id);
  const container = document.getElementById(containerId);
  if (initiallyVisible) {
    container.removeAttribute("hidden");
  }
  toggleButton.addEventListener("click", () => {
    container.hasAttribute("hidden")
      ? container.removeAttribute("hidden")
      : container.setAttribute("hidden", "");
    toggleButton.getAttribute("aria-pressed") === "true"
      ? toggleButton.setAttribute("aria-pressed", "false")
      : toggleButton.setAttribute("aria-pressed", "true");
  });
</script>
