---
import slugify from "../../slugify";
import Layout from "../../layouts/Layout.astro";
import MapViewer from "../../components/MapViewer";
import MapCharacterDirectionSelector from "../../components/MapCharacterDirectionSelector";

import mapsJson from "../../../data/maps.json";
import { levelScenePairs } from "../../../ArknightsGameData/zh_CN/gamedata/battle/battle_misc_table.json";

import type * as OutputTypes from "../../output-types";

export function getStaticPaths() {
  return Object.entries(mapsJson).map(([stageId, stage]) => {
    return {
      params: {
        slug: slugify(stageId),
      },
      props: { stageId },
    };
  });
}

function getCorrectLevelId(levelId: string): string {
  return levelScenePairs[levelId as keyof typeof levelScenePairs]
    ? levelScenePairs[levelId as keyof typeof levelScenePairs].levelId
    : levelId;
}

const { stageId } = Astro.props;
const stageInfo = mapsJson[
  stageId as keyof typeof mapsJson
] as OutputTypes.StageInfo;
const locale = stageInfo.isCnOnly ? "zh_CN" : "en_US";

const stageData = await import(
  "../../../ArknightsGameData/" +
    locale +
    "/gamedata/levels/" +
    getCorrectLevelId(stageInfo.levelId).toLowerCase() +
    ".json"
);
---

<Layout title={stageInfo.code}>
  <h2>
    {stageInfo.code}
  </h2>

  <MapViewer stageData={stageData} client:visible />
</Layout>
