---
import mapsJson from "../../../data/maps.json";
import Layout from "../../layouts/Layout.astro";
import slugify from "../../slugify";

const maps = Object.values(mapsJson);
---

<Layout title="Map List">
  <h2>Map List</h2>
  <section>
    <ul>
      {
        maps.map((map) => {
          return (
            <li>
              <a href={`/maps/${slugify(map.stageId)}`}>{map.code}</a>
            </li>
          );
        })
      }
    </ul>
  </section>
</Layout>
