---
import branchesJson from "../../../data/branches.json";
import { operatorBranchIcon } from "../../utils/images";
import * as classes from "./styles.css";

interface Props {
  subProfessionId: string;
  hidden?: boolean;
  id?: string;
  class?: string;
}

const { subProfessionId, class: className, ...rest } = Astro.props;
const { trait: traitHtml } =
  branchesJson[subProfessionId as keyof typeof branchesJson];
---

<div class={`${classes.root} ${className ?? ""}`} {...rest}>
  <img class={classes.icon} src={operatorBranchIcon(subProfessionId)} alt="" />
  <span>
    <span class="visually-hidden">Trait:</span>
    <Fragment set:html={traitHtml} />
  </span>
</div>
