---
import slugify from "../slugify";
import characterTable from "../../ArknightsGameData/en_US/gamedata/excel/character_table.json";
import TraitInfo from "../components/TraitInfo";
import Layout from "../layouts/Layout.astro";

export function getStaticPaths() {
  return Object.entries(characterTable)
    .filter(
      ([_, char]) =>
        char.profession !== "TOKEN" &&
        char.profession !== "TRAP" &&
        !char.isNotObtainable
    )
    .map(([charId, char]) => ({
      params: {
        slug: slugify(char.name),
      },
      props: { charId },
    }));
}
const { slug } = Astro.params;
const { charId } = Astro.props;
const char = characterTable[charId];
const { subProfessionId } = char;
---

<h1>{slug}</h1>

<Layout title={char.name}>
  <TraitInfo
    client:visible
    subProfessionId={subProfessionId}
    showSubclassIcon
  />
</Layout>
